.outer-container {
  margin-bottom: 64px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

 .embed-container {
    height:0;
    margin-bottom:18px;
    overflow:hidden;
    padding-bottom:20%; /* 16/9 ratio */
    padding-top:30px; /* IE6 workaround*/
    position:relative;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    height:100% !important;
    left:0;
    position:absolute;
    top:0;
    width:100% !important;
  }

  img {
    max-width: 100%;
    width: 400px;
  }
  

  &.funder {
    padding: 8px;
    margin-bottom: 0;
  }
}
