.outer-container {
  margin-bottom: 64px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    width: 400px;
  }
  
  object {
     width:100%;
     max-height:100%;
}

  &.funder {
    padding: 8px;
    margin-bottom: 0;
  }
}
